@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body:not(header) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body:not(.nav-link) {
    font-family: 'Poppins',
        sans-serif;
}

h1 {
    font-weight: 600;
    opacity: 0.8;
    font-size: 2em;
}

.logo h2 {
    font-size: 1.7em;
}

h2 {
    font-weight: 500;
    font-size: 1.3em;
}

h3 {
    font-weight: 600;
    opacity: 0.8;
    font-size: 1.17em;
}

body {
    height: 100%;
    /* overflow: hidden; */
}

main {
    height: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    background: white;
    height: 100%;
    width: 100vw;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    /* border-radius: 2rem; */
    backdrop-filter: blur(2rem);
}

.logo-img {
    cursor: pointer;
    width: 15vh;
    margin-top: 2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(122, 122, 122, 0.5);
}

.logo-img:hover {
    box-shadow: 0px 0px 30px rgba(122, 122, 122, 0.5);
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    /* border-radius: 2rem; */
    /* border-radius: 2rem 0rem 0rem 2rem; */
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    /* overflow-y: scroll; */
}

.button {
    width: 12vw;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    justify-content: center;
    position: relative;
}

.buttons {
    flex: 1;
    width: 100%;
    height: 100%;
}

.buttons, .editor-window {
    overflow-y: scroll;
} 

.button:hover {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
}

.button h2 {
    padding: 0rem 1rem;
    /* margin-bottom: 1rem; */
    width: 100%;
    flex: 5;
}

.button img:not(.unsaved-icon) {
    flex: 1;
    float: right;
    text-align: right;
    margin-left: 2rem;
}

.editor-window {
    margin: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.editor {
    margin-top: 10px;
    flex: 1;
}

.settings {
    flex: 1;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    margin-top: 1rem;
    width: 100%;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    display: flex;
    align-items: center;
    justify-items: center;
}

.settings h1 {
    margin-left: 1rem;
    font-weight: 500;
}

.docs {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    text-align: center;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    /* border-radius: 0rem 2rem 2rem 0rem; */
    box-shadow: -6px -6px 20px rgba(122, 122, 122, 0.3);
    height: 100%;
}

.docs h1 {
    margin-top: 2rem;
}

.markettab {
    height: 100%;
}


.buy {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    /* border-radius: 2rem; */
    color: white;
    padding: 1rem;
    position: relative;

}

.buy img {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 150px;
}

.buy h2 {
    width: 40%;
}

.docs input:placeholder-shown {
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 2rem;
    width: 90%;
    padding: 0.4rem;
}

input::-webkit-input-placeholder {
    opacity: 0.7;
}

.settings input {
    cursor: pointer;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 5px;
}

.a1 {
    flex: 1;
}

.a2 {
    flex: 2;
    margin-left: 2.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.desc {
    flex: 2;
}

#desc {
    transition: 0.3s;
}

.c1,
.c2,
.c3 {
    flex: 1;
}

iframe {
    height: 100%;
    /* border-radius: 0rem 0rem 2rem 0rem; */
}

.shortcuts {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.shortcuts p {
    flex: 1;
    padding-bottom: 5px;
}

.tab {
    overflow: hidden;
    display: flex;
}

.tab button {
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
    flex: 1;
    margin: 5px;
}

.tab button:hover {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);

}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    flex: 1;
}

.title i {
    cursor: pointer;
}